@charset "utf=8";

dd,
dl,
dt {
    margin: 0;
}



/* ヘッダー以外 */

/* タブレット用 */
@media screen and (max-width: 1024px) {}

/* スマホ用 */
@media screen and (max-width: 768px) {}


.grid {
    display: grid;
}



/* grid-col-1 */
.grid-item {
    border-bottom: 2.5px solid #f2f2f2;
}

.div-grid-col-1 {
    display: flex;
    align-items: start;
    height: auto;
    padding: 10px 0 20px 0;
}

.ul-grid-col-1 {
    list-style: none;
    margin: 0;
    padding: 0;
}


.index-article-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #f2f2f2;
    box-sizing: border-box;
    margin-right: 10px;
}

.index-article-img img {
    width: 100%;
    height: 100%;
    max-height: 230px;
    object-fit: contain;
}

.index-article-content-date {
    flex: 1;
}

.col-1-index-article-title {
    font-size: 1.7em;
    font-weight: 500;
    padding: 10px 0;
    line-height: 1.3em;
}

.index-article-content {
    padding-bottom: 10px;
}

.index-article-date {
    text-align: end;
    color: #999;
    font-weight: 300;
}

/* grid-col-2 */
.div-grid-col-2 {
    display: flex;
    align-items: start;
    height: auto;
    padding: 10px 0 20px 0;

}

.col-2-grid-item {
    border-bottom: 2.5px solid #f2f2f2;

}

.grid-col-2 {
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.col-2-index-article-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f2f2f2;
    box-sizing: border-box;
    margin-right: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col-2-index-article-img img {
    width: 100%;
    height: 100%;
    max-height: 150px;
    object-fit: contain;
}


.col-2-index-article-title-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.col-2-index-article-title {
    font-size: 1.3em;
    font-weight: 500;
    padding: 10px 0;
    width: 100%;
    line-height: 1.3em;
}

.col-2-index-article-date {
    text-align: end;
    color: #999;
    font-weight: 300;
    width: 100%;
}

a {
    text-decoration: none;
    color: #333;
}

/* ホバー */

.col-1-index-article-title>a,
.col-2-index-article-title>a {
    text-decoration: none;
    color: #333;
    font-weight: 550;
    background-image: linear-gradient(#4295a6, #4295a6);
    background-size: 0 1px;
    background-position: left bottom;
    background-repeat: no-repeat;
    transition: all 0.7s linear;
}


.col-1-index-article-title>a:hover,
.col-2-index-article-title>a:hover {
    background-size: 100% 1px;
    color: #4295a6;
}

/* タブレット用 */
@media screen and (max-width: 1024px) {}

/* スマホ用 */
@media screen and (max-width: 768px) {
    .div-grid-col-1 {
        padding: 10px 0;
        height: auto;
    }

    .ul-grid-col-1 {
        list-style: none;
        margin: 0;
        padding: 0;
    }


    .index-article-img {
        flex: 1;
    }

    .index-article-content-date {
        flex: 2;
    }

    .col-1-index-article-title {
        font-size: 1em;
        font-weight: 500;
        padding: 10px 0;
        line-height: 1.3em;
    }

    .index-article-content {
        font-size: 0.9em;
        padding-bottom: 0;
    }

    .index-article-date {
        font-size: 0.8em;
        padding-bottom: 5px;
    }

    /* grid-col-2 */
    .div-grid-col-2 {
        padding: 10px 0;
        height: auto;
    }

    .grid-col-2 {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 0;
    }

    .col-2-index-article-img {
        flex: 1;
    }

    .index-article-img img {
        max-height: 150px;
    }

    .col-2-index-article-title-date {
        flex: 2;
    }

    .col-2-index-article-title {
        font-size: 1.0em;
    }

    .col-2-index-article-date {
        font-size: 0.8em;
        padding-bottom: 5px;
    }

    .col-2-index-article-img img {
        max-height: 80px;
    }


}
