@charset "utf=8";

.latest-news {
    padding: 80px 0 0 0;
}

.grid {
    display: grid;
}

.grid-item {
    border-bottom: 1px solid #f2f2f2;
}

/* grid-col-1 */
.div-grid-col-1 {
    display: flex;
    align-items: start;
    height: 230px;
    padding: 10px 0;
}

.ul-grid-col-1 {
    list-style: none;
    margin: 0;
    padding: 0;
}


.grid-col-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-col-2 {
    list-style: none;
    margin: 0;
    padding: 0;
}


dd,
dl,
dt {
    margin: 0;
}

.index-article-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #f2f2f2;
    box-sizing: border-box;
    margin-right: 10px;
}

.index-article-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.index-article-content-date {
    width: 50%;
}

.col-1-index-article-title {
    font-size: 1.7em;
    font-weight: 500;
    padding: 10px 0;
}

.index-article-content {
    padding-bottom: 10px;
}

.index-article-date {
    text-align: end;
    color: #999;
    font-weight: 300;
}

/* grid-col-2 */
.col-2-index-article-title {
    font-size: 1.3em;
    font-weight: 500;
    padding: 10px 0;
}


.col-2-index-article-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #f2f2f2;
    box-sizing: border-box;
    margin-right: 10px;

}
