@charset "utf-8";

body {
    font-family: "Noto sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;

}

/* header */
.header {
    width: 60%;
    box-sizing: border-box;
    padding: 20px 15px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    background-color: white;
    top: 0;
    height: 100px;
    overflow: hidden;
}


.header-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-menu-list li {
    margin-right: 20px;
}

.header-menu-list li a {
    text-decoration: none;
    color: #333;
}

/* article section */
.section-article {
    display: block;
    padding: 120px 20px 20px 20px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}


.span-sub-category {
    background-color: #f2f2f2;
    width: 100%;
    display: block;
}

.article-title {
    margin-top: 5px;
    margin-bottom: 5px;
}

.article-title>a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    font-weight: 550;
    border-bottom: 1px solid transparent;
    transition: border-color .25s, color .25s;
}

.article-title>a:hover {
    border-bottom: 1px solid #4295a6;
    color: #4295a6;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.article-date {
    color: #888;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.article-img-p {
    display: flex;
    align-items: flex-start;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 15px;
    /* justify-content: space-between; */
}

/* 画像部分を3割に設定 */
.article-img-p-img {
    flex-basis: 23%; /* 親要素の幅の30%を占める */
    max-width: 23%;  /* 幅が30%を超えないようにする */
    height: 200px; /* 固定高さを設定（必要に応じて調整） */
    background-color: #f2f2f2; /* 背景をグレーに設定 */
    display: flex; /* 中央に配置するためにフレックスボックスを使用 */
    align-items: center; /* 垂直方向に中央寄せ */
    justify-content: center; /* 水平方向に中央寄せ */
    overflow: hidden; /* 画像が親要素をはみ出さないようにする */
}

/* コンテンツ部分を7割に設定 */
.article-content {
    flex-basis: 77%;
    /* 親要素の幅の70%を占める */
    max-width: 77%;
    /* 幅が70%を超えないようにする */
    padding-left: 20px;
    /* 画像との間に少しスペースを追加 */
}

.article-img-p-img img {
    width: 100%; /* 親要素の幅に合わせて伸ばす */
    height: 100%; /* 親要素の高さに合わせて伸ばす */
    object-fit: contain; /* 縦横比を保ちながら、親要素にフィット */
}

.article-img,
.article-content {
    margin: 0;
    padding: 0px 20px;
}

/* footer */
