@charset "utf-8";

body {
    font-family: "Noto sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;

}

/* header */
.header {
    width: 60%;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    background-color: white;
    top: 0;
    height: 80px;
    overflow: hidden;
}


.header-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.header-manu-link>a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 40px 10px;
    transition: color .25s, font-weight .25s;
}

.header-manu-link>a:hover {
    color:white;
    font-weight: 500;
}

.header-manu-link {
    padding: 40px 10px;
    width: 120px;
    text-align: center;
    transition: background-color .25s;
}

.header-manu-link:hover {
    background-color: #4cb8ceb6;
}

.header-manu-link-on {
    background-color: #4cb8ceb6;
}

.header-manu-link-on>a {
    color: white;
    font-weight: 500;
}

/* article section */
.section-article {
    display: block;
    padding: 120px 0 0 0;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    margin-top: -40px;
}


.span-sub-category {
    box-sizing: border-box;
    background-color: #4cb8ceb6;
    width: 100%;
    display: block;
    font-size: 1.3em;
    padding: 7px;
    font-weight: 500;
    color: white;
}

.article-title {
    margin-top: 5px;
    margin-bottom: 5px;
}

.article-title>a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    font-weight: 550;
    border-bottom: 1px solid transparent;
    transition: border-color .25s, color .25s;
}

.article-title>a:hover {
    border-bottom: 1px solid #4295a6;
    color: #4295a6;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.article-date {
    color: #888;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.article-img-p {
    display: flex;
    align-items: flex-start;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 15px;
}

.article-img-p-img {
    flex-basis: 23%;
    max-width: 23%;
    height: 200px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.article-content {
    flex-basis: 77%;
    max-width: 77%;
    margin: 0;
    padding: 0 0 0 20px;
}

.article-img-p-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.article-img {
    margin: 0;
    padding: 0px 20px;
}

/* footer */
