@charset "utf-8";

body {
    font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: #333;
    width: 100%;
    margin: 0 auto;
}

/* タブレット用 */
@media screen and (max-width: 1024px) {}

/* スマホ用 */
@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
        line-height: 1.5em;
    }

}

/* header */

.header {
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
    background-color: white;
    top: 0;
    height: 80px;
}

.header-logo-menu {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header-logo-img {
    height: 80px;
    width: 150px;
    object-fit: cover;
}



.header-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.header-manu-link>a {
    text-decoration: none;
    color: #333;
    transition: color .25s, font-weight .25s;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}




.header-manu-link>a:hover {
    color: white;
    font-weight: 500;
}

.header-manu-link {
    padding: 0;
    width: 140px;
    text-align: center;
    transition: background-color .25s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.header-manu-link:hover {
    background-color: #4cb8ceb6;
}

.header-manu-link-on {
    background-color: #4cb8ceb6;
}

.header-manu-link-on>a {
    color: white;
    font-weight: 500;
}


/* タブレット用 */
@media screen and (max-width: 1024px) {
    .header {
        height: 70px;
        overflow: hidden;
    }
}

/* スマホ用 */
@media screen and (max-width: 768px) {
    .header {
        height: 50px;
    }

    .header-logo-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }



    .header-logo-img {
        height: 50px;
        width: 100px;
        object-fit: cover;
    }

}

.dummy-articles {
    width: 60%;
    height: 100vh;
    background-color: lightblue;
    margin: 0 auto;
}

.burger {
    cursor: pointer;
    display: none;
    padding: 0 10px 0 0;
}

.burger div {
    width: 25px;
    height: 1.5px;
    background-color: #333;
    margin: 6px;
    transition: all 0.6s ease;
}

.burger.active .line1 {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.active .line2 {
    opacity: 0;  /* 真ん中の線を非表示にする */
}

.burger.active .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
}

.burger-menu {
    will-change: transform, opacity;
    height: 240px;
    width: 100vw;
    top: 50px;
    position: fixed;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    transform: translateY(-100%);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out, visibility 0s 0.5s;
}

.burger-menu.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}


.burger-menu>div {
    height: 33%;
}

.burger-menu>div>a {
    color: white;
    font-weight: 350;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #4cb8cee9;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-menu>div>a:active {
    background-color: #398e9fe8;
}

/* ハンバーガー */
/* タブレット用 */
@media screen and (max-width: 1024px) {}

/* スマホ用 */
@media screen and (max-width: 768px) {
    .header-menu-list {
        display: none;
    }

    .burger {
        display: block;
    }

}




/* article section */
.section-article {
    display: block;
    padding: 80px 0 0 0;
    margin: 0 auto;
    width: 60%;
    box-sizing: border-box;
    position: relative;
}


.span-sub-category {
    box-sizing: border-box;
    background-color: #4cb8ceb6;
    width: 100%;
    display: block;
    font-size: 1.3em;
    padding: 7px;
    font-weight: 500;
    color: white;
}

.article-title {
    margin-top: 5px;
    margin-bottom: 5px;
}

.article-title>a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    color: #333;
    background-image: linear-gradient(#4295a6, #4295a6);
    background-size: 0 1px;
    background-position: left bottom;
    background-repeat: no-repeat;
    transition: all 0.5s linear;
}


.article-title>a:hover {
    background-size: 100% 1px;
    color: #4295a6;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.article-date {
    color: #888;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.article-img-p {
    display: flex;
    align-items: flex-start;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 15px;
}

.article-img-p-img {
    flex-basis: 23%;
    max-width: 23%;
    height: 200px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.article-content {
    flex-basis: 77%;
    max-width: 77%;
    margin: 0;
    padding: 0 0 0 20px;
}

.article-img-p-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.article-img {
    margin: 0;
    padding: 0px 20px;
}

/* タブレット用 */
@media screen and (max-width: 1024px) {}

/* スマホ用 */
@media screen and (max-width: 768px) {
    .section-article {
        display: block;
        padding: 50px 5px 0;
        margin: 0 auto;
        width: 100%;
    }


    .span-sub-category {
        font-size: 1.0em;
        padding: 1px;
        font-weight: 400;
        text-align: center;
    }

    .article-title {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .article-title>a {
        text-decoration: none;
        font-size: 1.1em;
        font-weight: 500;
        color: #333;
        background-image: linear-gradient(#4295a6, #4295a6);
        background-size: 0 1px;
        background-position: left bottom;
        background-repeat: no-repeat;
        transition: all 0.5s linear;
    }


    .article-title>a:hover {
        background-size: 100% 1px;
        color: #4295a6;
    }

    .article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 15px;
    }

    .article-date {
        margin-bottom: 5px;
    }

    .article-img-p {
        display: block;
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 15px;
    }

    .article-img-p-img {
        max-width: 100%;
        display: block;
        height: 120px;
    }

    .article-content {
        max-width: 100%;
        padding: 0;
        font-size: 0.9em;
    }

    .article-img-p-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .article-img {
        margin: 0;
        padding: 0px 20px;
    }

}


/* footer */
/* .footer {} */

.footer p {
    background-color: #4cb8ceb6;
    font-weight: 400;
    color: #ffffff;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100vw;
    margin: 100px 0 0 0;
}



/* タブレット用 */
@media screen and (max-width: 1024px) {}

/* スマホ用 */
@media screen and (max-width: 768px) {
    .footer p {
        font-size: 0.9em;
        margin: 0;
        height: 50px;
    }
}
