<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>日報EX</title>
</head>

<body>
    <h1>日報EX</h1>
    {% for main_category, subcategories in all_articles.items() %}
    <h2>{{ main_category }}</h2>
    {% for subcategory, articles in subcategories.items() %}
    <h3>{{ subcategory }}</h3>
    <ul>
        {% for article in articles %}
        <li>
            <h4><a href="{{ article.link }}">{{ article.title }}</a></h4>
            <p>{{ article.date }}</p> <!-- 日付を表示 -->
            <img src="{{ article.image }}" alt="{{ article.title }}">
            <p>{{ article.content }}</p>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
    {% endfor %}
</body>

</html>
