<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">
    <link rel="mask-icon" href="../static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>日報EX</title>
</head>

<body>
    <nav class="header">
        <div class="header-logo">
            <a href="https://nippoex.onrender.com/">
                <img src="../static/日報EX.png" alt="日報EX" width="auto" height="150px" class="header-logo-img">
            </a>
        </div>
        <div class="header-menu">
            <ul class="header-menu-list">
                <li class="header-manu-link"><a href="https://nippoex.onrender.com/">TOP</a></li>
                <li class="header-manu-link header-manu-link-on"><a href="https://nippoex.onrender.com/kennai_news/">県内ニュース</a></li>
                <li class="header-manu-link"><a href="https://nippoex.onrender.com/zenkoku_news/">全国ニュース</a></li>
            </ul>
        </div>
    </nav>

    <section class="section-article">
        {% for main_category, subcategories in kennai_news_articles.items() %}
        <div class="sub-category">
            {% for subcategory, articles in subcategories.items() %}
            <span class="span-sub-category">{{ subcategory }}</span>
        </div>

        <div class="article">
            {% for article in articles %}
            <span class="article-title"><a href="{{ article.link }}">{{ article.title }}</a></span>
            <span class="article-date">{{ article.date_nippo }}</span>
            <div class="article-img-p">
                <div class="article-img-p-img"><img src="{{ article.image }}" alt="{{ article.title }}"></div>
                <p class="article-content">{{ article.content }}</p>
            </div>
            {% endfor %}
        </div>

        {% endfor %}
        {% endfor %}
    </section>
</body>

</html>
